@model IEnumerable<Prestes.Cotacao.MVC.ViewModels.CompradorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CampradorId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CampradorId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.CampradorId })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/Libs/bootstrap-notify/bootstrap-notify.min.js"></script>

<script>

   $(() => {



       var notify = $.notify('<strong>Saving</strong> Do not close this page...', {
           allow_dismiss: false,
           showProgressbar: true
       });

       setTimeout(function() {
           notify.update({'type': 'success', 'message': '<strong>Success</strong> Your page has been saved!', 'progress': 25});
       }, 4500);



   })

</script>